$pure-white   : #fff;
$almost-white : #d9d9d9;
$white        : rgba($pure-white, 0.6);
$bg-black     : #09080d;
$black        : #000;
$highlight   : #AA00FF;

:root {
  --card-margin: calc(var(--card-width) / 2);
  --card-height: 200px;
  --card-width: calc(var(--card-height) / 1.5);
  --website-height: 500px;
  --website-width: calc(var(--website-height) / 1.5);
  --modal-width: 1000px;
  --modal-height: calc(var(--modal-width) / 1.78);

  @media screen and (min-width: 1921px)    {
    --website-height: 600px;
    --card-height: 300px;
  }

  @media screen and (max-width: 1850px) {
    --website-height: clamp(400px, 25vw, 480px);
  }
}

@mixin big-text {
  font-size: 58px;
  line-height: 150%;
  text-transform: uppercase;

  @media screen and (min-width: 1921px)   {
    font-size: 60px;
  }

  @media screen and (max-width: 1850px) {

  }

  @media screen and (max-width: 1440px) {

  }

  @media screen and (max-width: 1280px) {

  }

  @media screen and (max-width: 1120px) {

  }

  @media screen and (max-width: 992px) {

  }

  @media screen and (max-width: 768px) {

  }

  @media screen and (max-width: 576px) {

  }
}

@mixin small-text {
  font-size: 20px;
  line-height: 160%;

  @media screen and (min-width: 1921px)   {
    font-size: 24px;
  }

  @media screen and (max-width: 1440px) {

  }

  @media screen and (max-width: 1280px) {

  }

  @media screen and (max-width: 1120px) {

  }

  @media screen and (max-width: 992px) {

  }

  @media screen and (max-width: 768px) {

  }

  @media screen and (max-width: 576px) {

  }
}