:root {
  --card-height: 250px;
  --card-width: calc(var(--card-height) / 1.5);
  --card-margin: calc(var(--card-width) / 2);
  --website-height: 500px;
  --website-width: calc(var(--website-height) / 1.5);
}
@media screen and (min-width: 1921px) {
  :root {
    --modal-width: 2000px;
    --website-height: 600px;
    --card-height: 300px;
  }
}
@media screen and (max-width: 1850px) {
  :root {
    --website-height: clamp(400px, 25vw, 480px);
  }
}
@media screen and (max-width: 1600px) {
  :root {
    --card-height: 180px;
  }
}
@media screen and (max-width: 1280px) {
  :root {
    --website-height: 350px;
  }
}
@media screen and (max-width: 1120px) {
  :root {
    --website-height: 300px;
    --card-height: 150px;
  }
}
.wrapper .right > p {
  margin: 30px 0 60px;
}
.wrapper .right .stats-wrapper ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wrapper .right .stats-wrapper ul li {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.wrapper .right .stats-wrapper ul li > p {
  width: 630px;
}
.wrapper .right .stats-wrapper ul li > p:first-child {
  font-size: 30px;
  width: 250px;
}

@media screen and (min-width: 1921px) {
  .wrapper .right > p {
    margin: 0 0 3vw;
  }
  .wrapper .right .stats-wrapper ul {
    gap: 2rem;
  }
  .wrapper .right .stats-wrapper ul li {
    font-size: 24px;
  }
  .wrapper .right .stats-wrapper ul li > p:first-child {
    font-size: 35px;
  }
}
@media screen and (max-width: 1850px) {
  .wrapper .right > p {
    margin: 0 0 1.5vw;
  }
}
@media screen and (max-width: 1600px) {
  .wrapper .right .stats-wrapper ul li > p {
    width: 570px;
  }
  .wrapper .right .stats-wrapper ul li > p:first-child {
    width: 230px;
  }
}
@media screen and (max-width: 1440px) {
  .wrapper .right .stats-wrapper ul li {
    font-size: 18px;
  }
  .wrapper .right .stats-wrapper ul li > p:first-child {
    font-size: 28px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper .right .stats-wrapper ul li > p {
    width: 550px;
  }
  .wrapper .right .stats-wrapper ul li > p:first-child {
    width: 200px;
  }
}
@media screen and (max-width: 1120px) {
  .wrapper .right .stats-wrapper ul {
    gap: 0.5rem;
  }
  .wrapper .right .stats-wrapper ul li > p {
    width: 500px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .wrapper .right .stats-wrapper ul li > p:first-child {
    width: 150px;
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper .right .stats-wrapper ul li > p {
    width: 400px;
    font-size: 15px;
  }
  .wrapper .right .stats-wrapper ul li > p:first-child {
    width: 120px;
    font-size: 24px;
  }
  .wrapper .right .stats-wrapper ul li p {
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .wrapper .right > p {
    margin: 0 0 1rem;
  }
  .wrapper .right .stats-wrapper ul {
    gap: 1rem;
  }
  .wrapper .right .stats-wrapper ul li {
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .right .stats-wrapper ul li p {
    width: 100%;
    text-align: start;
    font-size: 1rem;
  }
  .wrapper .right .stats-wrapper ul li p:first-child {
    width: 100%;
    text-align: start;
  }
  .wrapper .right .stats-wrapper ul li > p:first-child {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=AboutPage.css.map */
