@import './variables';

.wrapper {

  .right {
    & > p {
      margin: 30px 0 60px;
    }
    .stats-wrapper {
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
          display: flex;
          align-items: center;
          font-size: 20px;

          & > p {
            width: 630px;

            &:first-child {
              font-size: 30px;
              width: 250px;
            }
          }
        }
      }
    }
  }
}
