:root {
  --card-height: 250px;
  --card-width: calc(var(--card-height) / 1.5);
  --card-margin: calc(var(--card-width) / 2);
  --website-height: 500px;
  --website-width: calc(var(--website-height) / 1.5);
  --modal-width: 1500px;
  --modal-height: calc(var(--modal-width) / 1.78);
}
@media screen and (min-width: 1921px) {
  :root {
    --modal-width: 2000px;
    --website-height: 600px;
    --card-height: 300px;
  }
}
@media screen and (max-width: 1850px) {
  :root {
    --website-height: clamp(400px, 25vw, 480px);
    --modal-width: 1250px;
  }
}
@media screen and (max-width: 1600px) {
  :root {
    --card-height: 180px;
    --modal-width: 1100px;
  }
}
@media screen and (max-width: 1440px) {
  :root {
    --modal-width: 1000px;
  }
}
@media screen and (max-width: 1280px) {
  :root {
    --website-height: 350px;
    --modal-width: 900px;
  }
}
.wrapper .right > p {
  margin: 1rem 0 2rem;
}
.wrapper .right > p a {
  transition: all 0.2s ease-in-out;
}
.wrapper .right > p a:hover {
  color: #aa00ff;
}
.wrapper .right .contact-info-wrapper form {
  display: flex;
  height: 350px;
  gap: 1rem;
}
.wrapper .right .contact-info-wrapper form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.wrapper .right .contact-info-wrapper form input,
.wrapper .right .contact-info-wrapper form textarea,
.wrapper .right .contact-info-wrapper form button {
  border: 1px solid #fff;
  border-radius: 15px;
  outline: none;
  color: #fff;
  font-size: 20px;
  line-height: 29px;
  background-color: transparent;
  padding: 15px;
}
.wrapper .right .contact-info-wrapper form input::placeholder,
.wrapper .right .contact-info-wrapper form textarea::placeholder,
.wrapper .right .contact-info-wrapper form button::placeholder {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}
.wrapper .right .contact-info-wrapper form input {
  width: auto;
}
.wrapper .right .contact-info-wrapper form textarea {
  resize: none;
  height: 150px;
  width: auto;
}
.wrapper .right .contact-info-wrapper form input,
.wrapper .right .contact-info-wrapper form textarea {
  transition: all 0.2s ease-in-out;
}
.wrapper .right .contact-info-wrapper form input:focus,
.wrapper .right .contact-info-wrapper form textarea:focus {
  border: 1px solid #aa00ff;
}
.wrapper .right .contact-info-wrapper form button {
  font-size: 30px;
  line-height: 100%;
  padding: 20px;
  width: 160px;
  height: 100%;
  cursor: pointer;
}

@media screen and (max-width: 1850px) {
  .wrapper .right > p {
    margin: 0 0 1.5vw;
  }
  .wrapper .right .contact-info-wrapper form {
    height: 330px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper .right .contact-info-wrapper form {
    height: 350px;
  }
}
@media screen and (min-width: 1921px) {
  .wrapper .right > p {
    margin: 0 0 3rem;
  }
  .wrapper .right .contact-info-wrapper form {
    height: 500px;
  }
  .wrapper .right .contact-info-wrapper form input,
  .wrapper .right .contact-info-wrapper form textarea {
    padding: 30px;
  }
  .wrapper .right .contact-info-wrapper form textarea {
    height: 200px;
  }
  .wrapper .right .contact-info-wrapper form button {
    width: 200px;
  }
}

/*# sourceMappingURL=ContactPage.css.map */
