@import './variables';

.wrapper {
  .right {

    & > p {
      margin: 1rem 0 2rem;
    }

    .contact-info-wrapper {
      form {
        display: flex;
        height: 350px;
        gap: 1rem;

        div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
        }

        input,
        textarea,
        button {
          border: 1px solid $pure-white;
          border-radius: 15px;
          outline: none;
          color: $pure-white;
          font-size: 20px;
          line-height: 29px;
          background-color: $bg-black;
          padding: 15px;

          &::placeholder {
            color: $white;
            text-transform: uppercase;
          }
        }

        input {
          width:auto;
        }

        textarea {
          resize: none;
          height: 150px;
          width: auto;
        }

        input, textarea {
          transition: all .2s ease-in-out;

          &:focus {
            border: 1px solid $highlight1;
          }
        }

        button {
          font-size: 30px;
          line-height: 100%;
          padding: 20px;
          width: 160px;
          height: 350px;
          cursor: pointer;
        }
      }
    }
  }
}
