@import './variables';

.wrapper {
  .right {
    & > p {
      margin: 1rem 0 2rem;
    }

    .contact-info-wrapper {
      form {
        display: flex;
        height: 350px;
        gap: 1rem;

        div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
        }

        input,
        textarea,
        button {
          border: 1px solid $pure-white;
          border-radius: 15px;
          outline: none;
          color: $pure-white;
          font-size: 20px;
          line-height: 29px;
          background-color: transparent;
          padding: 15px;

          &::placeholder {
            color: $white;
            text-transform: uppercase;
          }
        }

        input {
          width: auto;
        }

        textarea {
          resize: none;
          height: 150px;
          width: auto;
        }

        input,
        textarea {
          transition: all 0.2s ease-in-out;
          // background-color: transparent;

          &:focus {
            border: 1px solid $highlight;
          }
        }

        button {
          font-size: 30px;
          line-height: 100%;
          padding: 20px;
          width: 160px;
          height: 100%;
          cursor: pointer;
          // background-color: $bg-black;
        }
      }
    }
  }
}

@media screen and (min-width: 1921px)   {
  .wrapper {
    .right {
      & > p {
        margin: 0 0 3rem;
      }

      .contact-info-wrapper {
        form {
          height: 500px;

          input,
          textarea {
            padding: 30px;
          }

          textarea {
            height: 200px;
          }

          button {
            width: 200px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1120px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
