@import './variables';

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  nav {
    width: 60%;
    padding: 90px 130px 0 0;
    box-sizing: border-box;

    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;

      li {
        a {
          text-decoration: none;
          font-size: 36px;
          line-height: 51px;
          color: $white;
          position: relative;
          transition: all 0.2s ease-in-out;
          border: none;
          outline: none;

          &::before {
            content: '';
            width: 22px;
            height: 22px;
            border-radius: 50%;
            position: absolute;
            background-color: $pure-white;
            top: -22px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: all 0.3s ease-in-out;
          }

          &.active {
            color: $pure-white;

            &::before {
              opacity: 1;
            }
          }

          &:hover {
            color: $pure-white;
            svg {
              path {
                fill: $pure-white;
              }
            }
          }
        }

        svg {
          path {
            fill: $white;
            transition: all 0.2s ease-in-out;
          }
        }
      }

      .socials {
        display: flex;
        gap: 2rem;
      }
    }
  }
}
