@import './variables';


header {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  nav {
    width: 60%;
    padding: 90px 130px 0 0;
    box-sizing: border-box;

    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;

      li {
        a {
          text-decoration: none;
          font-size: 36px;
          line-height: 51px;
          color: $white;
          position: relative;
          transition: all 0.2s ease-in-out;
          border: none;
          outline: none;

          &::before {
            content: '';
            width: 22px;
            height: 22px;
            border-radius: 50%;
            position: absolute;
            background-color: $pure-white;
            top: -22px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: all 0.3s ease-in-out;
          }

          &.active {
            color: $pure-white;

            &::before {
              opacity: 1;
            }
          }

          &:hover {
            color: $pure-white;
            svg {
              path {
                fill: $pure-white;
              }
            }
          }
        }

        svg {
          path {
            fill: $white;
            transition: all 0.2s ease-in-out;
          }
        }
      }

      .socials {
        display: flex;
        gap: 2rem;
      }
    }
  }

  .burger {
    display: none;
    outline: none;
      border: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      cursor: pointer;
      position: absolute;
      top: 28px;
      right: 24px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: transparent;
  }
}

@media screen and (min-width: 1921px) {
  header {
    nav {
      padding: 4vw 6vw 0 0;
      box-sizing: border-box;

      ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;

        li {
          a {
            font-size: 40px;

            &::before {
              content: '';
              width: 22px;
              height: 22px;
              border-radius: 50%;
              position: absolute;
              background-color: $pure-white;
              top: -22px;
              left: 50%;
              transform: translateX(-50%);
              opacity: 0;
              transition: all 0.3s ease-in-out;
            }
          }

          svg {
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1850px) {
  header {
    nav {
      width: 60%;
      padding: 4vw 150px 0 0;

      ul {
        li {
          a {
            font-size: 30px;
            line-height: 150%;

            &::before {
              width: 22px;
              height: 22px;
              top: -22px;
            }
          }
        }

        .socials {
          display: flex;
          gap: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  header {
    nav {
      padding: 4vw 100px 0 0;

      ul {
        li {
          a {
            font-size: 25px;

            &::before {
              width: 18px;
              height: 18px;
              top: -20px;
            }
          }
        }

        .socials {
          gap: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  header {
    nav {
      width: 65%;
      padding: 4vw 80px 0 0;
    }
  }
}

@media screen and (max-width: 1280px) {
  .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    backdrop-filter: blur(20px);
  }



  header {
    justify-content: center;
    align-items: center;
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    // backdrop-filter: blur(20px);
    z-index: 10;

    nav {
      width: fit-content;
      padding: 0;

      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: relative;

        li {
          a {
            text-decoration: none;
            font-size: 36px;
            line-height: 51px;
            color: $white;
            position: relative;
            transition: all 0.2s ease-in-out;
            border: none;
            outline: none;

            &::before {
              display: none;
              // content: '';
              // width: 22px;
              // height: 22px;
              // border-radius: 50%;
              // position: absolute;
              // background-color: $pure-white;
              // top: -22px;
              // left: 50%;
              // transform: translateX(-50%);
              // opacity: 0;
              // transition: all 0.3s ease-in-out;
            }

            &.active {
              color: $pure-white;

              &::before {
                opacity: 1;
              }
            }

            &:hover {
              color: $pure-white;
              svg {
                path {
                  fill: $pure-white;
                }
              }
            }
          }

        }

        .socials {
          display: flex;
          gap: 2rem;
        }
      }
    }

    .burger {
      display: block;
    }
  }
}

@media screen and (max-width: 1120px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}
