:root {
  --card-height: 250px;
  --card-width: calc(var(--card-height) / 1.5);
  --card-margin: calc(var(--card-width) / 2);
  --website-height: 500px;
  --website-width: calc(var(--website-height) / 1.5);
  --modal-width: 1500px;
  --modal-height: calc(var(--modal-width) / 1.78);
}
@media screen and (min-width: 1921px) {
  :root {
    --modal-width: 2000px;
    --website-height: 600px;
    --card-height: 300px;
  }
}
@media screen and (max-width: 1850px) {
  :root {
    --website-height: clamp(400px, 25vw, 480px);
    --modal-width: 1250px;
  }
}
@media screen and (max-width: 1600px) {
  :root {
    --card-height: 180px;
    --modal-width: 1100px;
  }
}
@media screen and (max-width: 1440px) {
  :root {
    --modal-width: 1000px;
  }
}
@media screen and (max-width: 1280px) {
  :root {
    --website-height: 350px;
    --modal-width: 900px;
  }
}
@media screen and (max-width: 1120px) {
  :root {
    --website-height: 300px;
    --card-height: 150px;
  }
}
header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
header nav {
  width: 60%;
  padding: 90px 130px 0 0;
  box-sizing: border-box;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
}
header nav ul li a::before {
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
header nav ul li a.active {
  color: #fff;
}
header nav ul li a.active::before {
  opacity: 1;
}
header nav ul li a:hover {
  color: #fff;
}
header nav ul li a:hover svg path {
  fill: #fff;
}
header nav ul li svg path {
  fill: rgba(255, 255, 255, 0.6);
  transition: all 0.2s ease-in-out;
}
header nav ul .socials {
  display: flex;
  gap: 2rem;
}

@media screen and (min-width: 1921px) {
  header nav {
    padding: 4vw 6vw 0 0;
    box-sizing: border-box;
  }
  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  header nav ul li a {
    font-size: 40px;
  }
  header nav ul li a::before {
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  header nav ul li svg {
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (max-width: 1850px) {
  header nav {
    width: 60%;
    padding: 4vw 150px 0 0;
  }
  header nav ul li a {
    font-size: 30px;
    line-height: 150%;
  }
  header nav ul li a::before {
    width: 22px;
    height: 22px;
    top: -22px;
  }
  header nav ul .socials {
    display: flex;
    gap: 2rem;
  }
}
@media screen and (max-width: 1600px) {
  header nav {
    padding: 4vw 100px 0 0;
  }
  header nav ul li a {
    font-size: 25px;
  }
  header nav ul li a::before {
    width: 18px;
    height: 18px;
    top: -20px;
  }
  header nav ul .socials {
    gap: 1rem;
  }
}
@media screen and (max-width: 1440px) {
  header nav {
    width: 65%;
    padding: 4vw 80px 0 0;
  }
}
@media screen and (max-width: 1280px) {
  header {
    justify-content: center;
    align-items: center;
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 5;
  }
  header nav {
    width: fit-content;
    padding: 0;
    z-index: 5;
  }
  header nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  header nav ul li a {
    text-decoration: none;
    font-size: 36px;
    line-height: 51px;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none;
  }
  header nav ul li a::before {
    display: none;
  }
  header nav ul li a.active {
    color: #fff;
  }
  header nav ul li a.active::before {
    opacity: 1;
  }
  header nav ul li a:hover {
    color: #fff;
  }
  header nav ul li a:hover svg path {
    fill: #fff;
  }
  header nav ul .socials {
    display: flex;
    gap: 2rem;
  }
}
@media screen and (max-width: 1120px) {
  header {
    justify-content: center;
    align-items: center;
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 5;
  }
  header nav {
    width: fit-content;
    padding: 0;
    z-index: 5;
  }
  header nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  header nav ul li a {
    text-decoration: none;
    font-size: 36px;
    line-height: 51px;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none;
  }
  header nav ul li a::before {
    display: none;
  }
  header nav ul li a.active {
    color: #fff;
  }
  header nav ul li a.active::before {
    opacity: 1;
  }
  header nav ul li a:hover {
    color: #fff;
  }
  header nav ul li a:hover svg path {
    fill: #fff;
  }
  header nav ul .socials {
    display: flex;
    gap: 2rem;
  }
}

/*# sourceMappingURL=MainNavigation.css.map */
