:root {
  --card-height: 250px;
  --card-width: calc(var(--card-height) / 1.5);
  --card-margin: calc(var(--card-width) / 2);
  --website-height: 500px;
  --website-width: calc(var(--website-height) / 1.5);
}
@media screen and (min-width: 1921px) {
  :root {
    --modal-width: 2000px;
    --website-height: 600px;
    --card-height: 300px;
  }
}
@media screen and (max-width: 1850px) {
  :root {
    --website-height: clamp(400px, 25vw, 480px);
  }
}
@media screen and (max-width: 1600px) {
  :root {
    --card-height: 180px;
  }
}
@media screen and (max-width: 1280px) {
  :root {
    --website-height: 350px;
  }
}
@media screen and (max-width: 1120px) {
  :root {
    --website-height: 300px;
    --card-height: 150px;
  }
}
.wrapper .left .website-carousel-wrapper {
  top: -8%;
  left: 4%;
  width: 100%;
  position: relative;
}
.wrapper .right > p {
  margin: 30px 0 50px;
}
.wrapper .right .website-info-wrapper {
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  margin: 1vw 0 0;
  gap: 2vw;
}
.wrapper .right .website-info-photo {
  height: calc(var(--website-height) * 1.2);
  width: var(--website-height);
  max-height: 30vw;
}
.wrapper .right .website-info-photo .info-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
  overflow-y: scroll;
  object-position: 0 0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  animation: autoScroll 30s infinite 1.5s ease-in-out;
}
.wrapper .right .website-info-data {
  width: 450px;
  height: calc(var(--website-height) * 1.2);
  max-height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.wrapper .right .website-info-data p {
  font-size: 1rem;
}
.wrapper .right .website-info-data p:first-child {
  font-weight: 600;
  letter-spacing: 2px;
}
.wrapper .right .website-info-description {
  width: auto;
}
.wrapper .right .website-info-technologies p {
  width: auto;
}
.wrapper .right .website-info-url {
  display: flex;
  gap: 0.5rem;
}
.wrapper .right .website-info-url a {
  transition: all 0.2s ease-out;
}
.wrapper .right .website-info-url a:hover {
  color: #aa00ff;
}

@media screen and (min-width: 1921px) {
  .wrapper .left .website-carousel-wrapper {
    top: 2%;
    left: 15%;
  }
  .wrapper .right > p {
    margin: 2rem 0 5rem;
  }
  .wrapper .right .website-info-data {
    gap: 2rem;
    width: 500px;
  }
  .wrapper .right .website-info-data p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1850px) {
  .wrapper .left .website-carousel-wrapper {
    top: -14%;
    left: 2%;
  }
  .wrapper .right > p {
    margin: 0 0 1.5vw;
  }
  .wrapper .right .website-info-wrapper {
    gap: 2rem;
    justify-content: flex-start;
  }
  .wrapper .right .website-info-data {
    width: 28vw;
  }
  .wrapper .right .website-info-data p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1600px) {
  .wrapper .left .website-carousel-wrapper {
    top: 0%;
    left: 18%;
  }
}
@media screen and (max-width: 1440px) {
  .wrapper .left .website-carousel-wrapper {
    top: -6%;
    left: 11%;
  }
  .wrapper .right .website-info-wrapper {
    margin: 0;
  }
  .wrapper .right .website-info-photo {
    max-height: 28vw;
  }
  .wrapper .right .website-info-photo .info-photo {
    border-radius: 30px;
  }
  .wrapper .right .website-info-data {
    max-height: 28vw;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper .left .website-carousel-wrapper {
    top: 9%;
    left: 10%;
  }
  .wrapper .right .website-info-photo {
    max-height: 35vw;
  }
  .wrapper .right .website-info-photo .info-photo {
    border-radius: 20px;
  }
  .wrapper .right .website-info-data {
    max-height: 35vw;
  }
}
@media screen and (max-width: 1120px) {
  .wrapper .left .website-carousel-wrapper {
    top: 9%;
    left: 10%;
  }
  .wrapper .right .website-info-photo {
    max-height: 35vw;
  }
  .wrapper .right .website-info-photo .info-photo {
    border-radius: 20px;
  }
  .wrapper .right .website-info-data {
    max-height: 35vw;
  }
}
@media screen and (max-width: 992px) {
  .wrapper .left {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wrapper .left .website-carousel-wrapper {
    top: 0;
    left: 0;
    height: 400px;
    width: 300px;
  }
  .wrapper .right .website-info-photo {
    max-height: 400px;
  }
  .wrapper .right .website-info-data {
    width: 48vw;
    max-height: 400px;
  }
}
@media screen and (max-width: 576px) {
  .wrapper .right .website-info-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .wrapper .right .website-info-photo {
    width: 100%;
    height: 130vw;
  }
  .wrapper .right .website-info-photo .info-photo {
    animation: none;
  }
  .wrapper .right .website-info-data {
    width: 100%;
    justify-content: flex-start;
    height: fit-content;
  }
}
@keyframes autoScroll {
  0% {
    object-position: top;
  }
  50% {
    object-position: bottom;
  }
  95%, 100% {
    object-position: top;
  }
}

/*# sourceMappingURL=PortfolioPage.css.map */
