@import './variables';

.wrapper {
  .left {
    .website-carousel-wrapper {
      position: relative;
      top: -20px;
      left: 50px;
      width: 100%;
    }
  }

  .right {
    & > p {
      margin: 30px 0 50px;
    }
    .website-info {
      &-wrapper {
        height: var(--website-width);
        display: flex;
        justify-content: space-between;
      }

      &-photo {
        height: var(--website-width);
        width: var(--website-height);
        background: $almost-white;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
        border-radius: 40px;
      }

      &-data {
        width: 350px;
        height: var(--website-width);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 4rem 0 0;

        p {
          font-size: 1rem;
        }
      }

      &-description {
        width: auto;
      }

      &-technologies {
        p {
          width: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 1921px) {
  .wrapper {
    .left {
      .website-carousel-wrapper {
        top: 6%;
        left: 12%;
      }
    }

    .right {
      & > p {
        margin: 2rem 0 4rem;
      }
      .website-info {
        &-wrapper {
          gap: 3rem;
          justify-content: flex-start;
        }

        &-data {
          gap: 2rem;
          width: 450px;

          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1120px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}