@import './variables';

.motion-card-wrapper {
  margin: 0 0 0 calc(var(--card-margin) - (var(--card-margin) * 2));

  &:first-child {
    margin: 0;
  }

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      z-index: #{$i};
    }

    .card-wrapper {
      background-color: $bg-black;
      border-radius: 20px;
      height: var(--card-height);
      width: var(--card-width);
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 0 1px $pure-white, 0 0 0 10px $bg-black;
      border: 1px solid $pure-white;
    }

    img {
      filter: drop-shadow(0 0 4px rgba($pure-white, 0.6));
      z-index: auto;
      transition: all 0.2s ease-in-out;
      width: 3rem;
      height: 3rem;
    }
  }
}

@media screen and (min-width: 1921px) {
  .motion-card-wrapper {
    .card-wrapper {
      box-shadow: 0 0 0 1px $pure-white, 0 0 0 15px $bg-black;
    }

    img {
      width: 5rem;
      height: 5rem;
      filter: drop-shadow(0 0 5px rgba($pure-white, 0.6));
    }
  }
}

@media screen and (max-width: 1600px) {
  .motion-card-wrapper {
    .card-wrapper {
      border-radius: 18px;
    }

    img {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1120px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
