:root {
  --card-height: 250px;
  --card-width: calc(var(--card-height) / 1.5);
  --card-margin: calc(var(--card-width) / 2);
  --website-height: 500px;
  --website-width: calc(var(--website-height) / 1.5);
  --modal-width: 1500px;
  --modal-height: calc(var(--modal-width) / 1.78);
}
@media screen and (min-width: 1921px) {
  :root {
    --modal-width: 2000px;
    --website-height: 600px;
    --card-height: 300px;
  }
}
@media screen and (max-width: 1850px) {
  :root {
    --website-height: clamp(400px, 25vw, 480px);
    --modal-width: 1250px;
  }
}
@media screen and (max-width: 1600px) {
  :root {
    --card-height: 180px;
    --modal-width: 1100px;
  }
}
@media screen and (max-width: 1440px) {
  :root {
    --modal-width: 1000px;
  }
}
@media screen and (max-width: 1280px) {
  :root {
    --website-height: 350px;
    --modal-width: 900px;
  }
}
@media screen and (max-width: 1120px) {
  :root {
    --website-height: 300px;
    --card-height: 150px;
  }
}
.website-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  background: #d9d9d9;
  width: var(--website-width);
  height: var(--website-height);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  gap: 2rem;
  transform: translate(50px, 0px);
}
.website-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.website-wrapper p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #000;
}
.website-wrapper:nth-child(1) {
  z-index: 5;
  opacity: 1;
  transform: translate(250px, 200px);
}
.website-wrapper:nth-child(2) {
  z-index: 4;
  opacity: 1;
  transform: translate(150px, 100px);
}
.website-wrapper:nth-child(3) {
  z-index: 3;
  opacity: 1;
  transform: translate(50px, 0px);
}
.website-blur {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(5px);
  backdrop-filter: blur(1px);
  border-radius: 40px;
}
.website-title {
  text-transform: uppercase;
  font-size: 1.2rem;
}

@media screen and (min-width: 1921px) {
  .website-title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1600px) {
  .website-wrapper {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    transform: translate(0, 0);
  }
  .website-wrapper:nth-child(1) {
    transform: translate(120px, 120px);
  }
  .website-wrapper:nth-child(2) {
    transform: translate(60px, 60px);
  }
  .website-wrapper:nth-child(3) {
    transform: translate(0, 0);
  }
  .website-blur {
    border-radius: 30px;
  }
}
@media screen and (max-width: 1280px) {
  .website-wrapper {
    border-radius: 20px;
  }
  .website-blur {
    border-radius: 20px;
  }
  .website-title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1120px) {
  .website-wrapper {
    border-radius: 20px;
  }
  .website-wrapper:nth-child(1) {
    transform: translate(80px, 80px);
  }
  .website-wrapper:nth-child(2) {
    transform: translate(40px, 40px);
  }
  .website-blur {
    border-radius: 20px;
  }
}

/*# sourceMappingURL=WebsiteWrapper.css.map */
