@import './variables';

.website-wrapper {
  position: absolute;
  width: 340px;
  height: 500px;
  background: $almost-white;
  box-shadow: 0px 0px 25px rgba($black, 0.5);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  gap: 2rem;
  opacity: 0;
  transform: translate(50px, 0px);
  z-index: 7;
  transition: all 0.3s ease-in-out;

  &:nth-child(1) {
    z-index: 10;
    transform: translate(250px, 200px);
    opacity: 1;
  }

  &:nth-child(2) {
    z-index: 9;
    transform: translate(150px, 100px);
    opacity: 1;
  }

  &:nth-child(3) {
    z-index: 8;
    transform: translate(50px, 0px);
    opacity: 1;
  }


  p {
    color: $black;
  }
}
